<!DOCTYPE html>
<html ng-app="timezoneApp">

<head>
  <title ng-bind="pageTitle + ' | <%= title %>'"></title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div ng-include="'views/navbar.html'"></div>
  <div class="container">
    <div ng-view></div>
  </div>
  
  <script>
    var APP_TITLE = '<%= title %>';
  </script>

  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
  <script type="text/javascript" src="js/ngApp.js"></script>
  <script type="text/javascript" src="js/authentication.js"></script>
  <script type="text/javascript" src="js/navbarController.js"></script>
  <script type="text/javascript" src="js/userController.js"></script>
  <script type="text/javascript" src="js/userService.js"></script>
  <script type="text/javascript" src="js/timezoneController.js"></script>
  <script type="text/javascript" src="js/timezoneService.js"></script>
  <script type="text/javascript" src="js/editTimezoneController.js"></script>
  <script type="text/javascript" src="js/alertsService.js"></script>
</body>
</html>
